node_modules
.turbo
dist
.next
*.tsbuildinfo
coverage
.env
.env.local
.env.arc-testnet
packages/database/generated
*.log
.DS_Store
.pnpm-store
packages/contracts/cache
packages/contracts/out
packages/contracts/broadcast
